<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="span3 well">
                <br>
                <center>
                    <h3>{{name}}</h3>
                    <br><br>
                    <ul class="list-group">
                        {{>viewbooks}}
                        {{#each book}}

                     
                        {{/each}}
                    </ul>
                </center>
            </div>
            <!-- Modal -->

        </div>
    </div>
</div>